@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "Open Sans", sans-serif;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: rgb(1, 11, 14);
  background: linear-gradient(
    176deg,
    rgba(1, 11, 14, 1) 20%,
    rgba(0, 45, 56, 1) 51%,
    rgba(1, 11, 14, 1) 78%
  );
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* style for loading component in page.tsx: */

.container {
  height: 100vh;
  width: 100%;
}

.loading {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border: 3px solid #00C8FF;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  bottom: 50%;
  right: calc(50% - 1rem);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
