@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", "Open Sans", sans-serif;
}

body {
  background: rgb(1, 11, 14);
  background: linear-gradient(
    176deg,
    rgba(1, 11, 14, 1) 20%,
    rgba(0, 45, 56, 1) 51%,
    rgba(1, 11, 14, 1) 78%
  );
  background-attachment: fixed;
}
